
body {
    background-color:#454545;
    font-family: "VT323", monospace;
    margin: 0;
  }




.nav-list{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;   
}



.nav-item {
    list-style: none;
    margin-right: 1rem;
    color: white;
    
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:first-child {
    margin-right: auto;
}


.flex-container {
    display: flex;
    height: 400px;
 

}

.flexbox-two {
    height: 450px;
    background-color: #4a90e2;

}